{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            Welcome
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
