{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 profile-main">
            <h1>{{ user.getFirstName() }} {{ user.getLastName() }}</h1>

            <h2>Skills</h2>
            {% for skill in user.getSkills() %}
                {{ skill.getName() }}
            {% endfor %}
        </div>

        <div class="col-lg-4 profile-panel">
            {% if myprofile %}
                <a class="button">Edit your profile</a>
                <a class="button">Edit account settings</a>
            {% endif %}
        </div>

    </div>
{% endblock %}
